In [1]:
import pandas as pd
import numpy as np
import json
import os
import datetime as dt
import requests
import sys
#from tqdm.auto import tqdm
#import math

In [2]:
zillow_home_index_file = "data/Zip_Zhvi_Summary_AllHomes.csv"
zip_code_file = "data/zip_code_list.txt"
zip_code_stats = "data/Zip_Code_Raw_Data.csv"

## Realtor.com info.
This is the historical data file from the realtor.com residential listings database, 
used with permission from https://www.realtor.com/research/data

Note: the realtor_data_file (RDC_InventoryCoreMetrics_Zip_Hist.csv) is too large to be stored in Github.   
The following cell will check for the existence of the file, and download if not present. 
It will take maybe five minutes, depending on your connection.

In [3]:
realtor_data_source = "https://s3-us-west-2.amazonaws.com/econresearch/Reports/Core/RDC_InventoryCoreMetrics_Zip_Hist.csv"
realtor_data_file = os.path.join("data", "RDC_InventoryCoreMetrics_Zip_Hist.csv")

# Test for local file. If exists, read it in. If not, download it. 
# We should just check the etag for file changes and re-download
# it anyway if newer file exists.

# Test if file exists and is not empty.
# If not, download the file.
# Then read into Pandas.

exists = os.path.isfile(realtor_data_file)
if exists:
        bytesize = os.path.getsize(realtor_data_file)
    
if not exists or bytesize <= 0:
    #print(bytesize)
    print("Realtor.com file not found or is empty. Downloading now.")
    print("This could take ~5 min or so, depending on your connection.\n")
    print("Progress:")
    with requests.get(realtor_data_source, stream=True) as r:
        r.raise_for_status()
        total_size = int(r.headers.get('content-length', 0))
        
        with open(realtor_data_file, 'wb') as f:
            dl = 0
            for chunk in r.iter_content(chunk_size=4096): 
                if chunk:  # filter out keep-alive new chunks
                    f.write(chunk)
                    dl = dl + len(chunk)
                    done = int(50*dl / total_size)
                    sys.stdout.write("\r[%s%s]" % ('=' * done, ' ' * (50-done)) )    
                    sys.stdout.flush()
            
    print("\nFile downloaded.")
    exists = os.path.isfile(realtor_data_file)
    if exists:
        bytesize = os.path.getsize(realtor_data_file)
    if not exists or bytesize <=0:
        print("Looks like the download is b0rked.")
        print("Try getting the file manually.")

print("Reading File...\n")
realtor_df = pd.read_csv(realtor_data_file, engine='python', encoding="ISO-8859-1", dtype={'Month':'str', 'ZipCode':'str', 'Footnote':'str'}, skipfooter=1)
print("Done")

Realtor.com file not found or is empty. Downloading now.
This could take ~5 min or so, depending on your connection.

Progress:
[==================================================]
File downloaded.
Reading File...

Done

### Wait until progress bar above has completed!

In [4]:
#realtor_df.info()

In [5]:
# Convert month column to datetime object.
realtor_df['Month'] = pd.to_datetime(realtor_df['Month'])

# dtype should be <M8[ns] on little-endian machines (Intel), >M8[ns] on big-endian machines (Sparc, PPC, etc)
#realtor_df['Month'].dtype

In [6]:
realtor_df.head()

,Month,ZipCode,ZipName,Footnote,Median Listing Price,Median Listing Price M/M,Median Listing Price Y/Y,Active Listing Count,Active Listing Count M/M,Active Listing Count Y/Y,...,Pending Listing Count Y/Y,Avg Listing Price,Avg Listing Price M/M,Avg Listing Price Y/Y,Total Listing Count,Total Listing Count M/M,Total Listing Count Y/Y,Pending Ratio,Pending Ratio M/M,Pending Ratio Y/Y
0,2019-02-01,01001,"Agawam, MA",*,209500.0,0.0411,NaN,47.0,-0.1532,-0.1132,...,0.0000,242888.0,0.0217,-0.1314,48.0,-0.1504,-0.1111,0.0213,0.0033,0.0024
1,2019-02-01,01002,"Amherst, MA",nan,447225.0,-0.0150,0.1540,56.0,0.1200,-0.2483,...,NaN,493027.0,-0.0132,0.0617,56.0,0.1200,-0.2483,0.0000,0.0000,0.0000
2,2019-02-01,01005,"Barre, MA",*,241550.0,-0.0069,0.0679,16.5,-0.3529,0.0313,...,NaN,343905.0,0.0343,0.6497,16.5,-0.3529,0.0313,0.0000,0.0000,0.0000
3,2019-02-01,01007,"Belchertown, MA",nan,331225.0,-0.0076,-0.0398,49.0,0.0889,-0.2033,...,NaN,324858.0,-0.0221,-0.0564,49.0,0.0889,-0.2033,0.0000,0.0000,0.0000
4,2019-02-01,01008,"Blandford, MA",*,216275.0,-0.0333,NaN,9.5,0.0556,NaN,...,0.3333,224871.0,-0.0243,0.0409,11.5,0.0455,0.4375,0.2105,-0.0117,-0.0202

In [7]:
filtered_realtor_df = realtor_df[realtor_df['Month'].dt.year == 2018]

In [8]:
filtered_realtor_df.head(5)

,Month,ZipCode,ZipName,Footnote,Median Listing Price,Median Listing Price M/M,Median Listing Price Y/Y,Active Listing Count,Active Listing Count M/M,Active Listing Count Y/Y,...,Pending Listing Count Y/Y,Avg Listing Price,Avg Listing Price M/M,Avg Listing Price Y/Y,Total Listing Count,Total Listing Count M/M,Total Listing Count Y/Y,Pending Ratio,Pending Ratio M/M,Pending Ratio Y/Y
30057,2018-12-01,01001,"Agawam, MA",nan,208300.0,0.0158,-0.0309,64.0,-0.1233,0.2308,...,0.0,247625.0,-0.0032,0.0154,65.0,-0.1216,0.2264,0.0156,0.0019,-0.0036
30058,2018-12-01,01002,"Amherst, MA",nan,425050.0,-0.0234,0.2503,61.0,-0.2278,-0.1974,...,NaN,480597.0,0.0229,0.0655,61.0,-0.2278,-0.1974,0.0000,0.0000,0.0000
30059,2018-12-01,01005,"Barre, MA",*,240050.0,-0.0062,NaN,31.0,-0.1143,NaN,...,NaN,324806.0,0.0349,0.4040,31.0,-0.1143,0.4762,0.0000,0.0000,0.0000
30060,2018-12-01,01007,"Belchertown, MA",nan,344950.0,0.0614,0.0012,47.0,-0.1376,-0.2985,...,NaN,341111.0,-0.0122,-0.0034,47.0,-0.1376,-0.2985,0.0000,0.0000,0.0000
30061,2018-12-01,01008,"Blandford, MA",*,239950.0,-0.0266,NaN,12.0,0.0000,NaN,...,0.0,235810.0,-0.0773,-0.0587,14.0,0.0000,0.1667,0.1667,0.0000,-0.0333

In [9]:
# Read in zip code file. This is a list of zip codes along the San Andreas Fault.
zips_df = pd.read_csv(zip_code_file, encoding="ISO-8859-1", dtype={'ZipCode':'str'})

In [10]:
#zips_df.info()

In [11]:
# Get a count of zip codes in my zip list
zips_count = zips_df['ZipCode'].count()
#zips_count

In [12]:
# Filter all realtor.com info to just our zip code list.
# We do this by merging realtor data with zip code list using an inner join. 
filtered_zips_df = pd.merge(realtor_df, zips_df, on="ZipCode")

In [13]:
#filtered_zips_df.info()

In [14]:
filtered_zips_df

,Month,ZipCode,ZipName,Footnote,Median Listing Price,Median Listing Price M/M,Median Listing Price Y/Y,Active Listing Count,Active Listing Count M/M,Active Listing Count Y/Y,...,Pending Listing Count Y/Y,Avg Listing Price,Avg Listing Price M/M,Avg Listing Price Y/Y,Total Listing Count,Total Listing Count M/M,Total Listing Count Y/Y,Pending Ratio,Pending Ratio M/M,Pending Ratio Y/Y
0,2019-02-01,92241,"Desert Hot Springs, CA",nan,249950.00,-0.0090,0.0611,30.5,0.1961,0.1731,...,1.3333,433049.0,-0.0476,0.0214,34.0,0.1930,0.2364,0.1148,-0.0029,0.0571
1,2019-01-01,92241,"Desert Hot Springs, CA",nan,252225.00,-0.0089,-0.0271,25.5,0.0200,-0.1774,...,5.0000,454677.0,-0.0702,0.0585,28.5,0.0962,-0.0952,0.1176,0.0776,0.1015
2,2018-12-01,92241,"Desert Hot Springs, CA",nan,254500.00,-0.0745,-0.0398,25.0,-0.1525,-0.1667,...,-0.5000,488984.0,0.0374,0.2409,26.0,-0.1613,-0.1875,0.0400,-0.0108,-0.0267
3,2018-11-01,92241,"Desert Hot Springs, CA",nan,275000.00,-0.0516,0.0221,29.5,-0.0484,0.2292,...,-0.5000,471347.0,0.0932,0.4566,31.0,-0.1268,0.1481,0.0508,-0.0943,-0.0742
4,2018-10-01,92241,"Desert Hot Springs, CA",*,289950.00,0.0939,-0.0333,31.0,-0.0606,0.3478,...,3.5000,431134.0,0.3002,0.1734,35.5,-0.0405,0.4792,0.1452,0.0239,0.1017
5,2018-09-01,92241,"Desert Hot Springs, CA",nan,265050.00,0.0415,-0.1682,33.0,0.0476,0.3750,...,3.0000,331568.0,-0.1347,-0.2100,37.0,0.0423,0.4800,0.1212,-0.0058,0.0795
6,2018-08-01,92241,"Desert Hot Springs, CA",nan,254500.00,-0.0022,-0.1490,31.5,0.0500,0.4000,...,3.0000,383146.0,-0.0950,-0.0015,35.5,0.0758,0.5106,0.1270,0.0270,0.0825
7,2018-07-01,92241,"Desert Hot Springs, CA",nan,255050.00,-0.0494,0.2623,30.0,-0.0323,0.5000,...,2.0000,423352.0,0.0520,0.1112,33.0,0.0154,0.5714,0.1000,0.0516,0.0500
8,2018-06-01,92241,"Desert Hot Springs, CA",nan,268300.00,0.0367,0.3279,31.0,0.0000,0.3778,...,2.0000,402414.0,-0.0482,0.2055,32.5,0.0317,0.4130,0.0484,0.0323,0.0262
9,2018-05-01,92241,"Desert Hot Springs, CA",nan,258800.00,0.0147,0.3134,31.0,0.0000,0.4091,...,-0.8750,422781.0,-0.0550,0.2640,31.5,-0.0156,0.2115,0.0161,-0.0161,-0.1657
10,2018-04-01,92241,"Desert Hot Springs, CA",nan,255050.00,0.0472,0.1087,31.0,0.0333,0.1481,...,-0.8000,447346.0,0.0763,0.3165,32.0,0.0323,0.0000,0.0323,-0.0011,-0.1529
11,2018-03-01,92241,"Desert Hot Springs, CA",nan,243550.00,0.0340,0.0587,30.0,0.1538,-0.0323,...,-0.8182,415614.0,-0.0197,0.2471,31.0,0.1273,-0.1507,0.0333,-0.0244,-0.1441
12,2018-02-01,92241,"Desert Hot Springs, CA",nan,235550.00,-0.0914,0.0242,26.0,-0.1613,-0.1475,...,-0.8000,423962.0,-0.0130,0.3135,27.5,-0.1270,-0.2763,0.0577,0.0416,-0.1882
13,2018-01-01,92241,"Desert Hot Springs, CA",nan,259244.25,-0.0219,0.0409,31.0,0.0333,0.1481,...,-0.8750,429509.0,0.0900,0.4729,31.5,-0.0156,0.0161,0.0161,-0.0505,-0.1320
14,2017-12-01,92241,"Desert Hot Springs, CA",nan,265050.00,-0.0149,-0.1071,30.0,0.2500,0.2245,...,-0.5556,394042.0,0.2177,0.2908,32.0,0.1852,0.1034,0.0667,-0.0583,-0.1170
15,2017-11-01,92241,"Desert Hot Springs, CA",nan,269050.00,-0.1030,-0.1644,24.0,0.0435,-0.0400,...,0.0000,323583.0,-0.1193,-0.0047,27.0,0.1250,-0.0357,0.1250,0.0815,0.0050
16,2017-10-01,92241,"Desert Hot Springs, CA",nan,299950.00,-0.0587,-0.0599,23.0,-0.0417,-0.0417,...,-0.5000,367394.0,-0.1246,-0.0537,24.0,-0.0400,-0.0769,0.0435,0.0018,-0.0399
17,2017-09-01,92241,"Desert Hot Springs, CA",nan,318663.50,0.0656,0.1713,24.0,0.0667,-0.1273,...,-0.6667,419675.0,0.0937,0.1363,25.0,0.0638,-0.1803,0.0417,-0.0028,-0.0674
18,2017-08-01,92241,"Desert Hot Springs, CA",nan,299050.00,0.4801,0.1750,22.5,0.1250,-0.1509,...,-0.5000,383689.0,0.0071,0.0408,23.5,0.1190,-0.1754,0.0444,-0.0056,-0.0310
19,2017-07-01,92241,"Desert Hot Springs, CA",*,202050.00,0.0000,NaN,20.0,-0.1111,-0.1304,...,0.0000,380978.0,0.1413,-0.0029,21.0,-0.0870,-0.1250,0.0500,0.0278,0.0065
20,2017-06-01,92241,"Desert Hot Springs, CA",*,202050.00,0.0254,NaN,22.5,0.0227,-0.1346,...,0.0000,333808.0,-0.0020,-0.0842,23.0,-0.1154,-0.1321,0.0222,-0.1596,0.0030
21,2017-05-01,92241,"Desert Hot Springs, CA",nan,197050.00,-0.1434,-0.2566,22.0,-0.1852,-0.2143,...,NaN,334463.0,-0.0157,-0.0609,26.0,-0.1875,-0.0714,0.1818,-0.0034,0.1818
22,2017-04-01,92241,"Desert Hot Springs, CA",nan,230050.00,0.0000,-0.0800,27.0,-0.1290,0.0000,...,1.5000,339789.0,0.0196,-0.0378,32.0,-0.1233,0.1034,0.1852,0.0078,0.1111
23,2017-03-01,92241,"Desert Hot Springs, CA",nan,230050.00,0.0003,-0.0515,31.0,0.0164,0.0690,...,1.7500,333252.0,0.0324,-0.0166,36.5,-0.0395,0.1774,0.1774,-0.0685,0.1085
24,2017-02-01,92241,"Desert Hot Springs, CA",nan,229975.00,-0.0766,-0.0057,30.5,0.1296,-0.0758,...,6.5000,322769.0,0.1068,-0.0668,38.0,0.2258,0.1176,0.2459,0.0978,0.2156
25,2017-01-01,92241,"Desert Hot Springs, CA",nan,249050.00,-0.1610,0.0721,27.0,0.1020,-0.2500,...,0.3333,291599.0,-0.0448,-0.1398,31.0,0.0690,-0.2051,0.1481,-0.0355,0.0648
26,2016-12-01,92241,"Desert Hot Springs, CA",nan,296849.50,-0.0781,0.2503,24.5,-0.0200,-0.3000,...,0.2857,305269.0,-0.0610,-0.1130,29.0,0.0357,-0.2468,0.1837,0.0637,0.0837
27,2016-11-01,92241,"Desert Hot Springs, CA",nan,322000.00,0.0092,0.3699,25.0,0.0417,-0.1667,...,0.0000,325094.0,-0.1627,-0.0968,28.0,0.0769,-0.1515,0.1200,0.0367,0.0200
28,2016-10-01,92241,"Desert Hot Springs, CA",nan,319050.00,0.1728,0.2400,24.0,-0.1273,-0.1273,...,-0.6923,388233.0,0.0512,0.0669,26.0,-0.1475,-0.2353,0.0833,-0.0258,-0.1530
29,2016-09-01,92241,"Desert Hot Springs, CA",*,272050.00,0.0690,0.0990,27.5,0.0377,-0.1129,...,1.0000,369323.0,0.0018,0.0370,30.5,0.0702,-0.0615,0.1091,0.0336,0.0607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3496,2014-10-01,95589,"Whitethorn, CA",nan,343800.00,-0.0179,-0.2169,26.0,-0.0714,0.2683,...,NaN,344659.0,-0.0379,-0.2929,26.0,-0.0714,0.2683,0.0000,0.0000,0.0000
3497,2014-09-01,95589,"Whitethorn, CA",nan,350050.00,-0.0196,-0.2183,28.0,-0.1250,0.2174,...,NaN,358209.0,-0.0220,-0.2671,28.0,-0.1250,0.2174,0.0000,0.0000,0.0000
3498,2014-08-01,95589,"Whitethorn, CA",nan,357050.00,-0.0035,-0.1868,32.0,0.0159,0.3061,...,NaN,366254.0,-0.0206,-0.1447,32.0,0.0159,0.3061,0.0000,0.0000,0.0000
3499,2014-07-01,95589,"Whitethorn, CA",nan,358300.00,-0.0212,-0.1450,31.5,0.2600,0.3125,...,NaN,373921.0,0.0174,-0.1184,31.5,0.2600,0.3125,0.0000,0.0000,0.0000
3500,2014-06-01,95589,"Whitethorn, CA",nan,366050.00,-0.0368,-0.0827,25.0,0.0870,0.2500,...,NaN,367522.0,-0.0670,-0.1250,25.0,0.0870,0.2500,0.0000,0.0000,0.0000
3501,2014-05-01,95589,"Whitethorn, CA",*,380050.00,-0.0325,NaN,23.0,0.0952,NaN,...,NaN,393910.0,-0.0271,-0.0142,23.0,0.0952,0.4839,0.0000,0.0000,0.0000
3502,2014-04-01,95589,"Whitethorn, CA",*,392800.00,-0.0132,NaN,21.0,0.0000,NaN,...,NaN,404853.0,-0.0253,0.0500,21.0,0.0000,0.5000,0.0000,0.0000,0.0000
3503,2014-03-01,95589,"Whitethorn, CA",nan,398050.00,0.0019,0.1371,21.0,0.0000,0.3125,...,NaN,415337.0,0.0085,0.1959,21.0,0.0000,0.3125,0.0000,0.0000,0.0000
3504,2014-02-01,95589,"Whitethorn, CA",*,397300.00,0.0358,NaN,21.0,0.0244,NaN,...,NaN,411831.0,-0.0199,0.1880,21.0,0.0244,0.4000,0.0000,0.0000,0.0000
3505,2014-01-01,95589,"Whitethorn, CA",*,383550.00,-0.0266,0.1363,20.5,-0.1087,0.1714,...,NaN,420185.0,-0.0824,0.2517,20.5,-0.1087,0.1714,0.0000,0.0000,0.0000
3506,2013-12-01,95589,"Whitethorn, CA",*,394050.00,-0.0057,NaN,23.0,0.2105,NaN,...,NaN,457905.0,-0.0435,0.2911,23.0,0.2105,0.5333,0.0000,0.0000,0.0000
3507,2013-11-01,95589,"Whitethorn, CA",*,396300.00,-0.0974,0.2007,19.0,-0.0732,0.1176,...,NaN,478724.0,-0.0178,0.3958,19.0,-0.0732,0.1176,0.0000,0.0000,0.0000
3508,2013-10-01,95589,"Whitethorn, CA",*,439050.00,-0.0195,NaN,20.5,-0.1087,-0.0465,...,NaN,487380.0,-0.0028,0.5052,20.5,-0.1087,-0.0465,0.0000,0.0000,0.0000
3509,2013-09-01,95589,"Whitethorn, CA",*,447800.00,0.0199,NaN,23.0,-0.0612,0.2105,...,NaN,488714.0,0.1413,0.4647,23.0,-0.0612,0.2105,0.0000,0.0000,0.0000
3510,2013-08-01,95589,"Whitethorn, CA",nan,439050.00,0.0477,0.2578,24.5,0.0208,0.1136,...,NaN,428178.0,0.0096,0.2286,24.5,0.0208,0.1136,0.0000,0.0000,0.0000
3511,2013-07-01,95589,"Whitethorn, CA",nan,419050.00,0.0501,0.1971,24.0,0.2000,0.1429,...,NaN,424094.0,0.0097,0.1278,24.0,0.2000,0.1429,0.0000,0.0000,0.0000
3512,2013-06-01,95589,"Whitethorn, CA",nan,399050.00,-0.0827,0.1400,20.0,0.2903,-0.0476,...,NaN,419994.0,0.0511,0.0973,20.0,0.2903,-0.0476,0.0000,0.0000,0.0000
3513,2013-05-01,95589,"Whitethorn, CA",*,435050.00,0.0419,NaN,15.5,0.1071,NaN,...,NaN,399548.0,0.0362,0.0974,15.5,0.1071,-0.3922,0.0000,0.0000,0.0000
3514,2013-04-01,95589,"Whitethorn, CA",*,417550.00,0.1928,NaN,14.0,-0.1250,NaN,...,NaN,385562.0,0.1102,0.0606,14.0,-0.1250,-0.4286,0.0000,0.0000,0.0000
3515,2013-03-01,95589,"Whitethorn, CA",nan,350050.00,0.0000,NaN,16.0,0.0667,NaN,...,NaN,347287.0,0.0018,NaN,16.0,0.0667,NaN,0.0000,0.0000,NaN
3516,2013-02-01,95589,"Whitethorn, CA",nan,350050.00,0.0370,NaN,15.0,-0.1429,NaN,...,NaN,346639.0,0.0326,NaN,15.0,-0.1429,NaN,0.0000,0.0000,NaN
3517,2013-01-01,95589,"Whitethorn, CA",nan,337550.00,-0.0559,NaN,17.5,0.1667,NaN,...,NaN,335686.0,-0.0535,NaN,17.5,0.1667,NaN,0.0000,0.0000,NaN
3518,2012-12-01,95589,"Whitethorn, CA",nan,357550.00,0.0833,NaN,15.0,-0.1176,NaN,...,NaN,354658.0,0.0341,NaN,15.0,-0.1176,NaN,0.0000,0.0000,NaN
3519,2012-11-01,95589,"Whitethorn, CA",nan,330050.00,0.1000,NaN,17.0,-0.2093,NaN,...,NaN,342955.0,0.0591,NaN,17.0,-0.2093,NaN,0.0000,0.0000,NaN
3520,2012-10-01,95589,"Whitethorn, CA",nan,300050.00,-0.0688,NaN,21.5,0.1316,NaN,...,NaN,323790.0,-0.0296,NaN,21.5,0.1316,NaN,0.0000,0.0000,NaN
3521,2012-09-01,95589,"Whitethorn, CA",nan,322218.00,-0.0769,NaN,19.0,-0.1364,NaN,...,NaN,333642.0,-0.0427,NaN,19.0,-0.1364,NaN,0.0000,0.0000,NaN
3522,2012-08-01,95589,"Whitethorn, CA",nan,349050.00,-0.0029,NaN,22.0,0.0476,NaN,...,NaN,348498.0,-0.0732,NaN,22.0,0.0476,NaN,0.0000,0.0000,NaN
3523,2012-07-01,95589,"Whitethorn, CA",nan,350050.00,0.0000,NaN,21.0,0.0000,NaN,...,NaN,376008.0,-0.0176,NaN,21.0,0.0000,NaN,0.0000,0.0000,NaN
3524,2012-06-01,95589,"Whitethorn, CA",nan,350050.00,0.0386,NaN,21.0,-0.1765,NaN,...,NaN,382743.0,0.0512,NaN,21.0,-0.1765,NaN,0.0000,0.0000,NaN
3525,2012-05-01,95589,"Whitethorn, CA",nan,337050.00,-0.0189,NaN,25.5,0.0408,NaN,...,NaN,364083.0,0.0015,NaN,25.5,0.0408,NaN,0.0000,0.0000,NaN

In [15]:
filtered_zipcode_count = len(filtered_zips_df['ZipCode'].unique())
filtered_zipcode_count
missing_zips = zips_count - filtered_zipcode_count

In [16]:
print('Total SAF Zipcodes: ' + str(zips_count))
print('SAF Zipcodes in dataset: ' + str(filtered_zipcode_count))
print('Missing Zipcodes: ' + str(missing_zips) + "\n")
print("This is a first swag, so we'll acknowldge the " + str(missing_zips) + " missing zip codes as a gap.")

Total SAF Zipcodes: 84
SAF Zipcodes in dataset: 39
Missing Zipcodes: 45

This is a first swag, so we'll acknowldge the 45 missing zip codes as a gap.

In [17]:
zip_listings = filtered_zips_df[['Month', 'ZipCode', 'ZipName', 'Median Listing Price', 'Avg Listing Price']]

In [18]:
# Why you no rename in place?
yet_another_dataframe_because_rename_doesnt_rename_in_place = zip_listings.rename(columns = {'Month':'Date'})
#yet_another_dataframe_because_rename_doesnt_rename_in_place.head()
zip_listings = yet_another_dataframe_because_rename_doesnt_rename_in_place
zip_listings.head()

,Date,ZipCode,ZipName,Median Listing Price,Avg Listing Price
0,2019-02-01,92241,"Desert Hot Springs, CA",249950.0,433049.0
1,2019-01-01,92241,"Desert Hot Springs, CA",252225.0,454677.0
2,2018-12-01,92241,"Desert Hot Springs, CA",254500.0,488984.0
3,2018-11-01,92241,"Desert Hot Springs, CA",275000.0,471347.0
4,2018-10-01,92241,"Desert Hot Springs, CA",289950.0,431134.0

In [19]:
print("There are " + str(len(zip_listings)) + " rows.")

There are 3526 rows.

## Zillow Information

In [20]:
zillow_df = pd.read_csv(zillow_home_index_file, encoding="ISO-8859-1", parse_dates=['Date'])

In [21]:
new_zillow_df = zillow_df.rename(columns={'RegionName':'ZipCode','Zhvi':'zhvi'})

In [22]:
new_zillow_df['ZipName'] = zillow_df['City'].map(str) + ", " + zillow_df['State']

In [23]:
zillow_listings = new_zillow_df[['Date','ZipCode','zhvi']]

In [24]:
zillow_listings = zillow_listings.astype({"ZipCode": str})

In [25]:
cleaned_zillow_df = pd.merge(zillow_listings, zips_df, on="ZipCode")

In [26]:
print("There are " + str(len(cleaned_zillow_df)) + " zrows of zdata for zestimates in the zindex.")

There are 54 zrows of zdata for zestimates in the zindex.

In [27]:
cleaned_zillow_df.tail()

         Date ZipCode    zhvi
49 2019-02-28   92359  333100
50 2019-02-28   92344  311200
51 2019-02-28   92339  240100
52 2019-02-28   92325  233000
53 2019-02-28   92241  230200

Known issue: Realtor.com uses the first day of the month, zillow uses last day.   
This need to be normalized by removing the day from the Date columns in the merge below.

In [28]:
new_merged_df = pd.merge(zip_listings, cleaned_zillow_df,  how='left', left_on=['Date','ZipCode'], right_on = ['Date','ZipCode'])
new_merged_df.head()

,Date,ZipCode,ZipName,Median Listing Price,Avg Listing Price,zhvi
0,2019-02-01,92241,"Desert Hot Springs, CA",249950.0,433049.0,NaN
1,2019-01-01,92241,"Desert Hot Springs, CA",252225.0,454677.0,NaN
2,2018-12-01,92241,"Desert Hot Springs, CA",254500.0,488984.0,NaN
3,2018-11-01,92241,"Desert Hot Springs, CA",275000.0,471347.0,NaN
4,2018-10-01,92241,"Desert Hot Springs, CA",289950.0,431134.0,NaN

In [29]:
len(new_merged_df)

3526

## Census Data by Zip Code

In [30]:
zip_stats = pd.read_csv(zip_code_stats, encoding="ISO-8859-1")

In [31]:
zip_stats.head(5)

,GEO.id,GEO.id2,GEO.display-label,GCT_STUB.target-geo-id,GCT_STUB.target-geo-id2,GCT_STUB.display-label,GCT_STUB.display-label.1,HC01,HC02,HC04,HC05,HC06,HC08,HC09
0,Id,Id2,Geography,Target Geo Id,Target Geo Id2,Geographical Area,Geographical Area,Population,Housing units,Area in square miles - Total area,Area in square miles - Water area,Area in square miles - Land area,Density per square mile of land area - Population,Density per square mile of land area - Housing...
1,8500000US900,900,ZCTA3 900,8500000US900,900,ZCTA 900,ZCTA 900,2376389,857386,220.57,1.17,219.40,10831.3,3907.9
2,8500000US900,900,ZCTA3 900,8600000US90001,90001,ZCTA 900 - ZCTA 90001,ZCTA 90001,54481,13302,3.47,0.00,3.47,15688.0,3830.4
3,8500000US900,900,ZCTA3 900,8600000US90002,90002,ZCTA 900 - ZCTA 90002,ZCTA 90002,44584,11838,3.04,0.00,3.04,14677.4,3897.2
4,8500000US900,900,ZCTA3 900,8600000US90003,90003,ZCTA 900 - ZCTA 90003,ZCTA 90003,58187,16071,3.54,0.00,3.54,16440.6,4540.8

In [32]:
header = zip_stats.iloc[0]
new_zip_stats = zip_stats[1:]

In [33]:
new_zip_stats.head()

,GEO.id,GEO.id2,GEO.display-label,GCT_STUB.target-geo-id,GCT_STUB.target-geo-id2,GCT_STUB.display-label,GCT_STUB.display-label.1,HC01,HC02,HC04,HC05,HC06,HC08,HC09
1,8500000US900,900,ZCTA3 900,8500000US900,900,ZCTA 900,ZCTA 900,2376389,857386,220.57,1.17,219.40,10831.3,3907.9
2,8500000US900,900,ZCTA3 900,8600000US90001,90001,ZCTA 900 - ZCTA 90001,ZCTA 90001,54481,13302,3.47,0.00,3.47,15688.0,3830.4
3,8500000US900,900,ZCTA3 900,8600000US90002,90002,ZCTA 900 - ZCTA 90002,ZCTA 90002,44584,11838,3.04,0.00,3.04,14677.4,3897.2
4,8500000US900,900,ZCTA3 900,8600000US90003,90003,ZCTA 900 - ZCTA 90003,ZCTA 90003,58187,16071,3.54,0.00,3.54,16440.6,4540.8
5,8500000US900,900,ZCTA3 900,8600000US90004,90004,ZCTA 900 - ZCTA 90004,ZCTA 90004,67850,23922,3.06,0.00,3.06,22196.4,7825.8

In [34]:
new_zip_stats.columns = header
new_zip_stats.columns

Index(['Id', 'Id2', 'Geography', 'Target Geo Id', 'Target Geo Id2',
       'Geographical Area', 'Geographical Area', 'Population',
       'Housing  units', 'Area in square miles - Total area',
       'Area in square miles - Water area', 'Area in square miles - Land area',
       'Density per square mile of land area - Population',
       'Density per square mile of land area - Housing  units'],
      dtype='object', name=0)

In [35]:
zip_stats = new_zip_stats[['Target Geo Id2', 'Population', 'Housing  units', 'Area in square miles - Total area', 'Density per square mile of land area - Population', 'Density per square mile of land area - Housing  units']]

In [36]:
# Remove anything that does not have a 5-digit zip format (eg, "900" aggregation rows for 900xx)
final_zip_stats = zip_stats[zip_stats['Target Geo Id2'].str.match('\d{5}$')]

In [37]:
zip_stats_count = len(zip_stats)
final_zip_stats_count = len(final_zip_stats)
print("Zip Data: " + str(zip_stats_count) + " rows")
print("Filtered Zip Data: " + str(final_zip_stats_count) + "rows")
print("Removed " + str((zip_stats_count - final_zip_stats_count)) + " non-zip code rows" )

Zip Data: 1890 rows
Filtered Zip Data: 1752rows
Removed 138 non-zip code rows

In [38]:
second_final_df = final_zip_stats.rename(columns={'Target Geo Id2':'ZipCode'})
final_zip_stats = second_final_df

In [39]:
merged_datasets = pd.merge(new_merged_df, final_zip_stats, how="left", on="ZipCode")

In [40]:
#merged_datasets.info()
merged_datasets.head()

,Date,ZipCode,ZipName,Median Listing Price,Avg Listing Price,zhvi,Population,Housing units,Area in square miles - Total area,Density per square mile of land area - Population,Density per square mile of land area - Housing units
0,2019-02-01,92241,"Desert Hot Springs, CA",249950.0,433049.0,NaN,5512,6043,121.23,45.5,49.8
1,2019-01-01,92241,"Desert Hot Springs, CA",252225.0,454677.0,NaN,5512,6043,121.23,45.5,49.8
2,2018-12-01,92241,"Desert Hot Springs, CA",254500.0,488984.0,NaN,5512,6043,121.23,45.5,49.8
3,2018-11-01,92241,"Desert Hot Springs, CA",275000.0,471347.0,NaN,5512,6043,121.23,45.5,49.8
4,2018-10-01,92241,"Desert Hot Springs, CA",289950.0,431134.0,NaN,5512,6043,121.23,45.5,49.8

Notes:   
There will be NaNs. That's fine, as some zips have a zhvi, others have Median listing price.  
Still need to get the date alignment between Zillow and Realtor.com to match up, though.

Columns:
- Date: Obvious. 
- ZipCode: Five digit US zip code
- Median Listing Price: Median **listing** price from realtor.com
- Avg Listing Price: Mean **listing** price from realtor.com
- zhvi: Zillow Home Value Index, median **Zestimate** value from Zillow Research.
- Population: US Census, total population for zip code
- Housing Units: US Census, total housing units in zip code
- Area and Density: US Census