In [1]:
import pandas as pd
import numpy as np
import json
#import os
import datetime as dt

In [34]:
zillow_home_index_file = "data/Zip_Zhvi_Summary_AllHomes.csv"
zip_code_file = "data/zip_code_list.txt"
zip_code_stats = "data/Zip_Code_Raw_Data.csv"

Note: the realtor_data_file (RDC_InventoryCoreMetrics_Zip_Hist.csv) is too large (250+ MB) to be stored in Github.   
In the following cell, you must specify where to load the file from. 

The first option will obtain it directly from realtor.com.
The second option assumes you downloaded the file and saved it in the data folder.

In [3]:
# Uncomment the option you want before running the this cell!

#realtor_data = "https://s3-us-west-2.amazonaws.com/econresearch/Reports/Core/RDC_InventoryCoreMetrics_Zip_Hist.csv"
realtor_data = "data/RDC_InventoryCoreMetrics_Zip_Hist.csv"

In [5]:
realtor_df = pd.read_csv(realtor_data, encoding="ISO-8859-1", dtype={'Month':'str', 'ZipCode':'str', 'Footnote':'str'}, skipfooter=1, engine="python")

In [7]:
#realtor_df.info()

In [8]:
#realtor_df['Month'].to_datetime()
realtor_df['Month'] = pd.to_datetime(realtor_df['Month'])

In [9]:
#realtor_df['Month'].dtype

dtype('<M8[ns]')

In [11]:
realtor_df.head()

,Month,ZipCode,ZipName,Footnote,Median Listing Price,Median Listing Price M/M,Median Listing Price Y/Y,Active Listing Count,Active Listing Count M/M,Active Listing Count Y/Y,...,Pending Listing Count Y/Y,Avg Listing Price,Avg Listing Price M/M,Avg Listing Price Y/Y,Total Listing Count,Total Listing Count M/M,Total Listing Count Y/Y,Pending Ratio,Pending Ratio M/M,Pending Ratio Y/Y
0,2019-02-01,01001,"Agawam, MA",*,209500.0,0.0411,NaN,47.0,-0.1532,-0.1132,...,0.0000,242888.0,0.0217,-0.1314,48.0,-0.1504,-0.1111,0.0213,0.0033,0.0024
1,2019-02-01,01002,"Amherst, MA",nan,447225.0,-0.0150,0.1540,56.0,0.1200,-0.2483,...,NaN,493027.0,-0.0132,0.0617,56.0,0.1200,-0.2483,0.0000,0.0000,0.0000
2,2019-02-01,01005,"Barre, MA",*,241550.0,-0.0069,0.0679,16.5,-0.3529,0.0313,...,NaN,343905.0,0.0343,0.6497,16.5,-0.3529,0.0313,0.0000,0.0000,0.0000
3,2019-02-01,01007,"Belchertown, MA",nan,331225.0,-0.0076,-0.0398,49.0,0.0889,-0.2033,...,NaN,324858.0,-0.0221,-0.0564,49.0,0.0889,-0.2033,0.0000,0.0000,0.0000
4,2019-02-01,01008,"Blandford, MA",*,216275.0,-0.0333,NaN,9.5,0.0556,NaN,...,0.3333,224871.0,-0.0243,0.0409,11.5,0.0455,0.4375,0.2105,-0.0117,-0.0202

In [12]:
filtered_realtor_df = realtor_df[realtor_df['Month'].dt.year == 2018]

In [13]:
filtered_realtor_df.head()

,Month,ZipCode,ZipName,Footnote,Median Listing Price,Median Listing Price M/M,Median Listing Price Y/Y,Active Listing Count,Active Listing Count M/M,Active Listing Count Y/Y,...,Pending Listing Count Y/Y,Avg Listing Price,Avg Listing Price M/M,Avg Listing Price Y/Y,Total Listing Count,Total Listing Count M/M,Total Listing Count Y/Y,Pending Ratio,Pending Ratio M/M,Pending Ratio Y/Y
30057,2018-12-01,01001,"Agawam, MA",nan,208300.0,0.0158,-0.0309,64.0,-0.1233,0.2308,...,0.0,247625.0,-0.0032,0.0154,65.0,-0.1216,0.2264,0.0156,0.0019,-0.0036
30058,2018-12-01,01002,"Amherst, MA",nan,425050.0,-0.0234,0.2503,61.0,-0.2278,-0.1974,...,NaN,480597.0,0.0229,0.0655,61.0,-0.2278,-0.1974,0.0000,0.0000,0.0000
30059,2018-12-01,01005,"Barre, MA",*,240050.0,-0.0062,NaN,31.0,-0.1143,NaN,...,NaN,324806.0,0.0349,0.4040,31.0,-0.1143,0.4762,0.0000,0.0000,0.0000
30060,2018-12-01,01007,"Belchertown, MA",nan,344950.0,0.0614,0.0012,47.0,-0.1376,-0.2985,...,NaN,341111.0,-0.0122,-0.0034,47.0,-0.1376,-0.2985,0.0000,0.0000,0.0000
30061,2018-12-01,01008,"Blandford, MA",*,239950.0,-0.0266,NaN,12.0,0.0000,NaN,...,0.0,235810.0,-0.0773,-0.0587,14.0,0.0000,0.1667,0.1667,0.0000,-0.0333

In [14]:
zips_df = pd.read_csv(zip_code_file, encoding="ISO-8859-1", dtype={'ZipCode':'str'})

In [16]:
#zips_df.info()

In [17]:
# Get a count of zip codes in my zip list
zips_count = zips_df['ZipCode'].count()
zips_count

84

In [18]:
cleaned_zips_df = pd.merge(realtor_df, zips_df, on="ZipCode")

In [19]:
#cleaned_zips_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3526 entries, 0 to 3525
Data columns (total 34 columns):
Month                        3526 non-null datetime64[ns]
ZipCode                      3526 non-null object
ZipName                      3526 non-null object
Footnote                     3526 non-null object
Median Listing Price         3526 non-null float64
Median Listing Price M/M     3526 non-null float64
Median Listing Price Y/Y     2378 non-null float64
Active Listing Count         3526 non-null float64
Active Listing Count M/M     3526 non-null float64
Active Listing Count Y/Y     2121 non-null float64
Days on Market               3526 non-null float64
Days on Market M/M           3526 non-null float64
Days on Market Y/Y           2446 non-null float64
New Listing Count            3526 non-null float64
New Listing Count M/M        3432 non-null float64
New Listing Count Y/Y        2970 non-null float64
Price Increase Count         3526 non-null float64
Price Increase Count M/M     1099 non-null float64
Price Increase Count Y/Y     966 non-null float64
Price Decrease Count         3526 non-null float64
Price Decrease Count M/M     3072 non-null float64
Price Decrease Count Y/Y     2649 non-null float64
Pending Listing Count        3526 non-null float64
Pending Listing Count M/M    2043 non-null float64
Pending Listing Count Y/Y    1627 non-null float64
Avg Listing Price            3526 non-null float64
Avg Listing Price M/M        3526 non-null float64
Avg Listing Price Y/Y        3053 non-null float64
Total Listing Count          3526 non-null float64
Total Listing Count M/M      3526 non-null float64
Total Listing Count Y/Y      3053 non-null float64
Pending Ratio                3526 non-null float64
Pending Ratio M/M            3526 non-null float64
Pending Ratio Y/Y            3053 non-null float64
dtypes: datetime64[ns](1), float64(30), object(3)
memory usage: 964.1+ KB

In [20]:
cleaned_zips_df

,Month,ZipCode,ZipName,Footnote,Median Listing Price,Median Listing Price M/M,Median Listing Price Y/Y,Active Listing Count,Active Listing Count M/M,Active Listing Count Y/Y,...,Pending Listing Count Y/Y,Avg Listing Price,Avg Listing Price M/M,Avg Listing Price Y/Y,Total Listing Count,Total Listing Count M/M,Total Listing Count Y/Y,Pending Ratio,Pending Ratio M/M,Pending Ratio Y/Y
0,2019-02-01,92241,"Desert Hot Springs, CA",nan,249950.00,-0.0090,0.0611,30.5,0.1961,0.1731,...,1.3333,433049.0,-0.0476,0.0214,34.0,0.1930,0.2364,0.1148,-0.0029,0.0571
1,2019-01-01,92241,"Desert Hot Springs, CA",nan,252225.00,-0.0089,-0.0271,25.5,0.0200,-0.1774,...,5.0000,454677.0,-0.0702,0.0585,28.5,0.0962,-0.0952,0.1176,0.0776,0.1015
2,2018-12-01,92241,"Desert Hot Springs, CA",nan,254500.00,-0.0745,-0.0398,25.0,-0.1525,-0.1667,...,-0.5000,488984.0,0.0374,0.2409,26.0,-0.1613,-0.1875,0.0400,-0.0108,-0.0267
3,2018-11-01,92241,"Desert Hot Springs, CA",nan,275000.00,-0.0516,0.0221,29.5,-0.0484,0.2292,...,-0.5000,471347.0,0.0932,0.4566,31.0,-0.1268,0.1481,0.0508,-0.0943,-0.0742
4,2018-10-01,92241,"Desert Hot Springs, CA",*,289950.00,0.0939,-0.0333,31.0,-0.0606,0.3478,...,3.5000,431134.0,0.3002,0.1734,35.5,-0.0405,0.4792,0.1452,0.0239,0.1017
5,2018-09-01,92241,"Desert Hot Springs, CA",nan,265050.00,0.0415,-0.1682,33.0,0.0476,0.3750,...,3.0000,331568.0,-0.1347,-0.2100,37.0,0.0423,0.4800,0.1212,-0.0058,0.0795
6,2018-08-01,92241,"Desert Hot Springs, CA",nan,254500.00,-0.0022,-0.1490,31.5,0.0500,0.4000,...,3.0000,383146.0,-0.0950,-0.0015,35.5,0.0758,0.5106,0.1270,0.0270,0.0825
7,2018-07-01,92241,"Desert Hot Springs, CA",nan,255050.00,-0.0494,0.2623,30.0,-0.0323,0.5000,...,2.0000,423352.0,0.0520,0.1112,33.0,0.0154,0.5714,0.1000,0.0516,0.0500
8,2018-06-01,92241,"Desert Hot Springs, CA",nan,268300.00,0.0367,0.3279,31.0,0.0000,0.3778,...,2.0000,402414.0,-0.0482,0.2055,32.5,0.0317,0.4130,0.0484,0.0323,0.0262
9,2018-05-01,92241,"Desert Hot Springs, CA",nan,258800.00,0.0147,0.3134,31.0,0.0000,0.4091,...,-0.8750,422781.0,-0.0550,0.2640,31.5,-0.0156,0.2115,0.0161,-0.0161,-0.1657
10,2018-04-01,92241,"Desert Hot Springs, CA",nan,255050.00,0.0472,0.1087,31.0,0.0333,0.1481,...,-0.8000,447346.0,0.0763,0.3165,32.0,0.0323,0.0000,0.0323,-0.0011,-0.1529
11,2018-03-01,92241,"Desert Hot Springs, CA",nan,243550.00,0.0340,0.0587,30.0,0.1538,-0.0323,...,-0.8182,415614.0,-0.0197,0.2471,31.0,0.1273,-0.1507,0.0333,-0.0244,-0.1441
12,2018-02-01,92241,"Desert Hot Springs, CA",nan,235550.00,-0.0914,0.0242,26.0,-0.1613,-0.1475,...,-0.8000,423962.0,-0.0130,0.3135,27.5,-0.1270,-0.2763,0.0577,0.0416,-0.1882
13,2018-01-01,92241,"Desert Hot Springs, CA",nan,259244.25,-0.0219,0.0409,31.0,0.0333,0.1481,...,-0.8750,429509.0,0.0900,0.4729,31.5,-0.0156,0.0161,0.0161,-0.0505,-0.1320
14,2017-12-01,92241,"Desert Hot Springs, CA",nan,265050.00,-0.0149,-0.1071,30.0,0.2500,0.2245,...,-0.5556,394042.0,0.2177,0.2908,32.0,0.1852,0.1034,0.0667,-0.0583,-0.1170
15,2017-11-01,92241,"Desert Hot Springs, CA",nan,269050.00,-0.1030,-0.1644,24.0,0.0435,-0.0400,...,0.0000,323583.0,-0.1193,-0.0047,27.0,0.1250,-0.0357,0.1250,0.0815,0.0050
16,2017-10-01,92241,"Desert Hot Springs, CA",nan,299950.00,-0.0587,-0.0599,23.0,-0.0417,-0.0417,...,-0.5000,367394.0,-0.1246,-0.0537,24.0,-0.0400,-0.0769,0.0435,0.0018,-0.0399
17,2017-09-01,92241,"Desert Hot Springs, CA",nan,318663.50,0.0656,0.1713,24.0,0.0667,-0.1273,...,-0.6667,419675.0,0.0937,0.1363,25.0,0.0638,-0.1803,0.0417,-0.0028,-0.0674
18,2017-08-01,92241,"Desert Hot Springs, CA",nan,299050.00,0.4801,0.1750,22.5,0.1250,-0.1509,...,-0.5000,383689.0,0.0071,0.0408,23.5,0.1190,-0.1754,0.0444,-0.0056,-0.0310
19,2017-07-01,92241,"Desert Hot Springs, CA",*,202050.00,0.0000,NaN,20.0,-0.1111,-0.1304,...,0.0000,380978.0,0.1413,-0.0029,21.0,-0.0870,-0.1250,0.0500,0.0278,0.0065
20,2017-06-01,92241,"Desert Hot Springs, CA",*,202050.00,0.0254,NaN,22.5,0.0227,-0.1346,...,0.0000,333808.0,-0.0020,-0.0842,23.0,-0.1154,-0.1321,0.0222,-0.1596,0.0030
21,2017-05-01,92241,"Desert Hot Springs, CA",nan,197050.00,-0.1434,-0.2566,22.0,-0.1852,-0.2143,...,NaN,334463.0,-0.0157,-0.0609,26.0,-0.1875,-0.0714,0.1818,-0.0034,0.1818
22,2017-04-01,92241,"Desert Hot Springs, CA",nan,230050.00,0.0000,-0.0800,27.0,-0.1290,0.0000,...,1.5000,339789.0,0.0196,-0.0378,32.0,-0.1233,0.1034,0.1852,0.0078,0.1111
23,2017-03-01,92241,"Desert Hot Springs, CA",nan,230050.00,0.0003,-0.0515,31.0,0.0164,0.0690,...,1.7500,333252.0,0.0324,-0.0166,36.5,-0.0395,0.1774,0.1774,-0.0685,0.1085
24,2017-02-01,92241,"Desert Hot Springs, CA",nan,229975.00,-0.0766,-0.0057,30.5,0.1296,-0.0758,...,6.5000,322769.0,0.1068,-0.0668,38.0,0.2258,0.1176,0.2459,0.0978,0.2156
25,2017-01-01,92241,"Desert Hot Springs, CA",nan,249050.00,-0.1610,0.0721,27.0,0.1020,-0.2500,...,0.3333,291599.0,-0.0448,-0.1398,31.0,0.0690,-0.2051,0.1481,-0.0355,0.0648
26,2016-12-01,92241,"Desert Hot Springs, CA",nan,296849.50,-0.0781,0.2503,24.5,-0.0200,-0.3000,...,0.2857,305269.0,-0.0610,-0.1130,29.0,0.0357,-0.2468,0.1837,0.0637,0.0837
27,2016-11-01,92241,"Desert Hot Springs, CA",nan,322000.00,0.0092,0.3699,25.0,0.0417,-0.1667,...,0.0000,325094.0,-0.1627,-0.0968,28.0,0.0769,-0.1515,0.1200,0.0367,0.0200
28,2016-10-01,92241,"Desert Hot Springs, CA",nan,319050.00,0.1728,0.2400,24.0,-0.1273,-0.1273,...,-0.6923,388233.0,0.0512,0.0669,26.0,-0.1475,-0.2353,0.0833,-0.0258,-0.1530
29,2016-09-01,92241,"Desert Hot Springs, CA",*,272050.00,0.0690,0.0990,27.5,0.0377,-0.1129,...,1.0000,369323.0,0.0018,0.0370,30.5,0.0702,-0.0615,0.1091,0.0336,0.0607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3496,2014-10-01,95589,"Whitethorn, CA",nan,343800.00,-0.0179,-0.2169,26.0,-0.0714,0.2683,...,NaN,344659.0,-0.0379,-0.2929,26.0,-0.0714,0.2683,0.0000,0.0000,0.0000
3497,2014-09-01,95589,"Whitethorn, CA",nan,350050.00,-0.0196,-0.2183,28.0,-0.1250,0.2174,...,NaN,358209.0,-0.0220,-0.2671,28.0,-0.1250,0.2174,0.0000,0.0000,0.0000
3498,2014-08-01,95589,"Whitethorn, CA",nan,357050.00,-0.0035,-0.1868,32.0,0.0159,0.3061,...,NaN,366254.0,-0.0206,-0.1447,32.0,0.0159,0.3061,0.0000,0.0000,0.0000
3499,2014-07-01,95589,"Whitethorn, CA",nan,358300.00,-0.0212,-0.1450,31.5,0.2600,0.3125,...,NaN,373921.0,0.0174,-0.1184,31.5,0.2600,0.3125,0.0000,0.0000,0.0000
3500,2014-06-01,95589,"Whitethorn, CA",nan,366050.00,-0.0368,-0.0827,25.0,0.0870,0.2500,...,NaN,367522.0,-0.0670,-0.1250,25.0,0.0870,0.2500,0.0000,0.0000,0.0000
3501,2014-05-01,95589,"Whitethorn, CA",*,380050.00,-0.0325,NaN,23.0,0.0952,NaN,...,NaN,393910.0,-0.0271,-0.0142,23.0,0.0952,0.4839,0.0000,0.0000,0.0000
3502,2014-04-01,95589,"Whitethorn, CA",*,392800.00,-0.0132,NaN,21.0,0.0000,NaN,...,NaN,404853.0,-0.0253,0.0500,21.0,0.0000,0.5000,0.0000,0.0000,0.0000
3503,2014-03-01,95589,"Whitethorn, CA",nan,398050.00,0.0019,0.1371,21.0,0.0000,0.3125,...,NaN,415337.0,0.0085,0.1959,21.0,0.0000,0.3125,0.0000,0.0000,0.0000
3504,2014-02-01,95589,"Whitethorn, CA",*,397300.00,0.0358,NaN,21.0,0.0244,NaN,...,NaN,411831.0,-0.0199,0.1880,21.0,0.0244,0.4000,0.0000,0.0000,0.0000
3505,2014-01-01,95589,"Whitethorn, CA",*,383550.00,-0.0266,0.1363,20.5,-0.1087,0.1714,...,NaN,420185.0,-0.0824,0.2517,20.5,-0.1087,0.1714,0.0000,0.0000,0.0000
3506,2013-12-01,95589,"Whitethorn, CA",*,394050.00,-0.0057,NaN,23.0,0.2105,NaN,...,NaN,457905.0,-0.0435,0.2911,23.0,0.2105,0.5333,0.0000,0.0000,0.0000
3507,2013-11-01,95589,"Whitethorn, CA",*,396300.00,-0.0974,0.2007,19.0,-0.0732,0.1176,...,NaN,478724.0,-0.0178,0.3958,19.0,-0.0732,0.1176,0.0000,0.0000,0.0000
3508,2013-10-01,95589,"Whitethorn, CA",*,439050.00,-0.0195,NaN,20.5,-0.1087,-0.0465,...,NaN,487380.0,-0.0028,0.5052,20.5,-0.1087,-0.0465,0.0000,0.0000,0.0000
3509,2013-09-01,95589,"Whitethorn, CA",*,447800.00,0.0199,NaN,23.0,-0.0612,0.2105,...,NaN,488714.0,0.1413,0.4647,23.0,-0.0612,0.2105,0.0000,0.0000,0.0000
3510,2013-08-01,95589,"Whitethorn, CA",nan,439050.00,0.0477,0.2578,24.5,0.0208,0.1136,...,NaN,428178.0,0.0096,0.2286,24.5,0.0208,0.1136,0.0000,0.0000,0.0000
3511,2013-07-01,95589,"Whitethorn, CA",nan,419050.00,0.0501,0.1971,24.0,0.2000,0.1429,...,NaN,424094.0,0.0097,0.1278,24.0,0.2000,0.1429,0.0000,0.0000,0.0000
3512,2013-06-01,95589,"Whitethorn, CA",nan,399050.00,-0.0827,0.1400,20.0,0.2903,-0.0476,...,NaN,419994.0,0.0511,0.0973,20.0,0.2903,-0.0476,0.0000,0.0000,0.0000
3513,2013-05-01,95589,"Whitethorn, CA",*,435050.00,0.0419,NaN,15.5,0.1071,NaN,...,NaN,399548.0,0.0362,0.0974,15.5,0.1071,-0.3922,0.0000,0.0000,0.0000
3514,2013-04-01,95589,"Whitethorn, CA",*,417550.00,0.1928,NaN,14.0,-0.1250,NaN,...,NaN,385562.0,0.1102,0.0606,14.0,-0.1250,-0.4286,0.0000,0.0000,0.0000
3515,2013-03-01,95589,"Whitethorn, CA",nan,350050.00,0.0000,NaN,16.0,0.0667,NaN,...,NaN,347287.0,0.0018,NaN,16.0,0.0667,NaN,0.0000,0.0000,NaN
3516,2013-02-01,95589,"Whitethorn, CA",nan,350050.00,0.0370,NaN,15.0,-0.1429,NaN,...,NaN,346639.0,0.0326,NaN,15.0,-0.1429,NaN,0.0000,0.0000,NaN
3517,2013-01-01,95589,"Whitethorn, CA",nan,337550.00,-0.0559,NaN,17.5,0.1667,NaN,...,NaN,335686.0,-0.0535,NaN,17.5,0.1667,NaN,0.0000,0.0000,NaN
3518,2012-12-01,95589,"Whitethorn, CA",nan,357550.00,0.0833,NaN,15.0,-0.1176,NaN,...,NaN,354658.0,0.0341,NaN,15.0,-0.1176,NaN,0.0000,0.0000,NaN
3519,2012-11-01,95589,"Whitethorn, CA",nan,330050.00,0.1000,NaN,17.0,-0.2093,NaN,...,NaN,342955.0,0.0591,NaN,17.0,-0.2093,NaN,0.0000,0.0000,NaN
3520,2012-10-01,95589,"Whitethorn, CA",nan,300050.00,-0.0688,NaN,21.5,0.1316,NaN,...,NaN,323790.0,-0.0296,NaN,21.5,0.1316,NaN,0.0000,0.0000,NaN
3521,2012-09-01,95589,"Whitethorn, CA",nan,322218.00,-0.0769,NaN,19.0,-0.1364,NaN,...,NaN,333642.0,-0.0427,NaN,19.0,-0.1364,NaN,0.0000,0.0000,NaN
3522,2012-08-01,95589,"Whitethorn, CA",nan,349050.00,-0.0029,NaN,22.0,0.0476,NaN,...,NaN,348498.0,-0.0732,NaN,22.0,0.0476,NaN,0.0000,0.0000,NaN
3523,2012-07-01,95589,"Whitethorn, CA",nan,350050.00,0.0000,NaN,21.0,0.0000,NaN,...,NaN,376008.0,-0.0176,NaN,21.0,0.0000,NaN,0.0000,0.0000,NaN
3524,2012-06-01,95589,"Whitethorn, CA",nan,350050.00,0.0386,NaN,21.0,-0.1765,NaN,...,NaN,382743.0,0.0512,NaN,21.0,-0.1765,NaN,0.0000,0.0000,NaN
3525,2012-05-01,95589,"Whitethorn, CA",nan,337050.00,-0.0189,NaN,25.5,0.0408,NaN,...,NaN,364083.0,0.0015,NaN,25.5,0.0408,NaN,0.0000,0.0000,NaN

In [21]:
cleaned_zipcode_count = len(cleaned_zips_df['ZipCode'].unique())
cleaned_zipcode_count

39

In [22]:
print('Total SAF Zipcodes: ' + str(zips_count))
print('SAF Zipcodes in dataset: ' + str(cleaned_zipcode_count))
print('Missing Zipcodes: ' + str(zips_count - cleaned_zipcode_count))

Total SAF Zipcodes: 84
SAF Zipcodes in dataset: 39
Missing Zipcodes: 45

In [23]:
# To Do, show map with located and missing zip codes.
# Maybe Maps API?

In [24]:
zip_listings = cleaned_zips_df[['Month', 'ZipCode', 'ZipName', 'Median Listing Price', 'Avg Listing Price']]

In [25]:
zip_listings.head()

,Month,ZipCode,ZipName,Median Listing Price,Avg Listing Price
0,2019-02-01,92241,"Desert Hot Springs, CA",249950.0,433049.0
1,2019-01-01,92241,"Desert Hot Springs, CA",252225.0,454677.0
2,2018-12-01,92241,"Desert Hot Springs, CA",254500.0,488984.0
3,2018-11-01,92241,"Desert Hot Springs, CA",275000.0,471347.0
4,2018-10-01,92241,"Desert Hot Springs, CA",289950.0,431134.0

In [26]:
zillow_df = pd.read_csv(zillow_home_index_file, encoding="ISO-8859-1")

In [27]:
new_zillow_df = zillow_df.rename(columns={'RegionName':'ZipCode','Zhvi':'zhvi'})

In [28]:
new_zillow_df['ZipName'] = zillow_df['City'].map(str) + ", " + zillow_df['State']

In [29]:
zillow_listings = new_zillow_df[['Date','ZipCode','zhvi']]

In [30]:
zillow_listings = zillow_listings.astype({"ZipCode": str})

In [31]:
cleaned_zillow_df = pd.merge(zillow_listings, zips_df, on="ZipCode")

In [32]:
len(cleaned_zillow_df)

54

In [ ]:
# Eh, no good.
#combined_zzz = pd.merge(zip_listings, cleaned_zillow_df, how='outer', on='ZipCode')
#combined_zzz

In [64]:
zip_stats = pd.read_csv(zip_code_stats, encoding="ISO-8859-1")

In [65]:
zip_stats.head(5)

,GEO.id,GEO.id2,GEO.display-label,GCT_STUB.target-geo-id,GCT_STUB.target-geo-id2,GCT_STUB.display-label,GCT_STUB.display-label.1,HC01,HC02,HC04,HC05,HC06,HC08,HC09
0,Id,Id2,Geography,Target Geo Id,Target Geo Id2,Geographical Area,Geographical Area,Population,Housing units,Area in square miles - Total area,Area in square miles - Water area,Area in square miles - Land area,Density per square mile of land area - Population,Density per square mile of land area - Housing...
1,8500000US900,900,ZCTA3 900,8500000US900,900,ZCTA 900,ZCTA 900,2376389,857386,220.57,1.17,219.40,10831.3,3907.9
2,8500000US900,900,ZCTA3 900,8600000US90001,90001,ZCTA 900 - ZCTA 90001,ZCTA 90001,54481,13302,3.47,0.00,3.47,15688.0,3830.4
3,8500000US900,900,ZCTA3 900,8600000US90002,90002,ZCTA 900 - ZCTA 90002,ZCTA 90002,44584,11838,3.04,0.00,3.04,14677.4,3897.2
4,8500000US900,900,ZCTA3 900,8600000US90003,90003,ZCTA 900 - ZCTA 90003,ZCTA 90003,58187,16071,3.54,0.00,3.54,16440.6,4540.8

In [66]:
header = zip_stats.iloc[0]

In [75]:
new_zip_stats = zip_stats[1:]

In [76]:
new_zip_stats.head()

,GEO.id,GEO.id2,GEO.display-label,GCT_STUB.target-geo-id,GCT_STUB.target-geo-id2,GCT_STUB.display-label,GCT_STUB.display-label.1,HC01,HC02,HC04,HC05,HC06,HC08,HC09
1,8500000US900,900,ZCTA3 900,8500000US900,900,ZCTA 900,ZCTA 900,2376389,857386,220.57,1.17,219.40,10831.3,3907.9
2,8500000US900,900,ZCTA3 900,8600000US90001,90001,ZCTA 900 - ZCTA 90001,ZCTA 90001,54481,13302,3.47,0.00,3.47,15688.0,3830.4
3,8500000US900,900,ZCTA3 900,8600000US90002,90002,ZCTA 900 - ZCTA 90002,ZCTA 90002,44584,11838,3.04,0.00,3.04,14677.4,3897.2
4,8500000US900,900,ZCTA3 900,8600000US90003,90003,ZCTA 900 - ZCTA 90003,ZCTA 90003,58187,16071,3.54,0.00,3.54,16440.6,4540.8
5,8500000US900,900,ZCTA3 900,8600000US90004,90004,ZCTA 900 - ZCTA 90004,ZCTA 90004,67850,23922,3.06,0.00,3.06,22196.4,7825.8

In [81]:
new_zip_stats.columns = header

In [86]:
#zip_stats[['Id', 'Target Geo Id2', 'Population', 'Housing Units', 'Area in square miles - Total Area', 'Density per square mile of land area - Population', 'Density per square mile of land area - Housing units']]
new_zip_stats.columns

Index(['Id', 'Id2', 'Geography', 'Target Geo Id', 'Target Geo Id2',
       'Geographical Area', 'Geographical Area', 'Population',
       'Housing  units', 'Area in square miles - Total area',
       'Area in square miles - Water area', 'Area in square miles - Land area',
       'Density per square mile of land area - Population',
       'Density per square mile of land area - Housing  units'],
      dtype='object', name=0)

In [88]:
new_zip_stats[['Id', 'Target Geo Id2', 'Population', 'Housing  units', 'Area in square miles - Total area', 'Density per square mile of land area - Population', 'Density per square mile of land area - Housing  units']]

,Id,Target Geo Id2,Population,Housing units,Area in square miles - Total area,Density per square mile of land area - Population,Density per square mile of land area - Housing units
1,8500000US900,900,2376389,857386,220.57,10831.3,3907.9
2,8500000US900,90001,54481,13302,3.47,15688.0,3830.4
3,8500000US900,90002,44584,11838,3.04,14677.4,3897.2
4,8500000US900,90003,58187,16071,3.54,16440.6,4540.8
5,8500000US900,90004,67850,23922,3.06,22196.4,7825.8
6,8500000US900,90005,43014,15905,1.15,37517.7,13872.7
7,8500000US900,90006,62765,19792,1.95,32164.6,10142.6
8,8500000US900,90007,45021,13548,2.77,16237.7,4886.3
9,8500000US900,90008,30840,14337,3.74,8287.7,3852.8
10,8500000US900,90010,1943,996,0.42,4610.7,2363.5
11,8500000US900,90011,101214,23721,4.35,23245.9,5448.0
12,8500000US900,90012,30577,8360,3.50,8776.2,2399.5
13,8500000US900,90013,9727,4601,0.76,12721.5,6017.4
14,8500000US900,90014,3518,2587,0.29,12160.2,8942.1
15,8500000US900,90015,15134,5339,1.65,9155.6,3229.9
16,8500000US900,90016,46968,17359,3.60,13046.6,4821.9
17,8500000US900,90017,20689,7079,0.74,27843.7,9527.1
18,8500000US900,90018,47127,16303,2.90,16232.2,5615.3
19,8500000US900,90019,67510,24955,3.94,17141.1,6336.2
20,8500000US900,90020,42383,17512,1.09,38984.7,16107.9
21,8500000US900,90021,3003,1507,1.99,1508.7,757.1
22,8500000US900,90022,68688,17776,4.44,15485.0,4007.4
23,8500000US900,90023,47468,11285,5.21,9118.7,2167.9
24,8500000US900,90024,44141,17934,3.38,13050.2,5302.1
25,8500000US900,90025,41170,21974,2.74,15040.0,8027.4
26,8500000US900,90026,73671,26242,4.18,17750.9,6323.0
27,8500000US900,90027,48715,22977,8.16,6018.3,2838.6
28,8500000US900,90028,30562,15506,1.49,20531.5,10416.9
29,8500000US900,90029,41697,14093,1.36,30731.0,10386.6
30,8500000US900,90031,38409,10854,3.95,9815.3,2773.7
...,...,...,...,...,...,...,...
1861,8500000US967,96763,3189,1375,84.21,37.9,16.3
1862,8500000US967,96764,795,317,21.38,37.2,14.8
1863,8500000US967,96766,12011,4495,33.32,361.3,135.2
1864,8500000US967,96768,15877,5536,32.05,496.6,173.2
1865,8500000US967,96769,638,208,82.73,8.0,2.6
1866,8500000US967,96770,630,568,58.57,10.8,9.7
1867,8500000US967,96771,4410,1901,49.99,88.2,38.0
1868,8500000US967,96772,1930,802,193.03,10.0,4.2
1869,8500000US967,96773,182,77,3.58,50.8,21.5
1870,8500000US967,96774,187,61,35.11,5.3,1.7
1871,8500000US967,96776,1396,520,75.61,18.5,6.9
1872,8500000US967,96777,1466,543,51.01,28.7,10.6
1873,8500000US967,96778,10653,4513,388.57,27.4,11.6
1874,8500000US967,96779,2753,1015,11.59,239.0,88.1
1875,8500000US967,96780,524,188,64.02,8.2,2.9
1876,8500000US967,96781,1573,570,5.81,270.7,98.1
1877,8500000US967,96782,37879,11459,21.47,1764.0,533.6
1878,8500000US967,96783,1895,721,7.63,248.6,94.6
1879,8500000US967,96785,2855,1546,207.30,13.8,7.5
1880,8500000US967,96786,41605,12802,75.48,551.3,169.7
1881,8500000US967,96789,45093,15503,34.06,1326.6,456.1
1882,8500000US967,96790,6690,2787,210.25,31.8,13.3
1883,8500000US967,96791,7908,2697,37.49,211.0,72.0
1884,8500000US967,96792,42342,12383,66.16,640.5,187.3
1885,8500000US967,96793,21762,7719,17.96,1216.6,431.5
1886,8500000US967,96795,9872,2486,11.12,888.1,223.7
1887,8500000US967,96796,2205,904,90.05,24.5,10.1
1888,8500000US967,96797,63228,18194,20.74,3050.6,877.8
1889,8500000US967,967HH,0,0,3849.88,(X),(X)
1890,8500000US967,967XX,48,36,648.04,0.1,0.1